html, body, #root
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial;
    background-color: #fafafa;
}

#song-div
{
    height: calc(100% - 50px);
    width: 100%;
    overflow: auto;
}

#song-table
{
    height: 100%;
    width: 100%;
}

table, th, td
{
    border: 1px solid lightgray;
    border-collapse: collapse;
}

thead tr
{
    height: 30px;
}

.index
{
    display: none;
}

tr:hover:not(.thr)
{
    background: linear-gradient(0deg, #0080ed, #008fff);
    color: #FAFAFA;
}

td
{
    white-space: nowrap;
}

#currently-playing
{
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
    width: 600px;
    max-width: 100%;
    height: 100%;
}

#currently-playing > p
{
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

#album-art
{
    position: relative;
    width: 100%;
    height: auto;
    top: 50%;
    bottom: 50%;
    right: 0;
    left: 0;
}

#playback-controls
{
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    width: 100%;
    height: 200px;
    max-height: 200px;
}

.close-bar
{
    box-sizing: border-box;
    height: 30px;
    margin: 0 10px;
    margin-bottom: 15px;
    background: lightgrey;
    border-radius: 10px;
}

.close-bar:hover
{
    background: #e6e6e6;
}

.close-bar:active
{
    background: darkgray;
}

.close-bar img
{
    display: block;
    height: 100%;
    width: auto;
    margin: auto auto;
}

.hflip
{
    transform: scaleX(-1);
}

.modal
{
    outline: 0;
    border: 1px solid lightgrey;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 2px #b9b9b9;
    background-color: #FAFAFA;
    margin: 10px auto;
    width: 80%;
    height: 90%;
    padding: 20px;
}