body
{
    margin: 0;
    padding: 0;
    font-family: Arial;
}

#song-div
{
    height: 100%;
    width: 100%;
    overflow: auto;
}

#song-table
{
    height: 100%;
    width: 100%;
}

#music-info-control
{
    height: 100%;
}

#playback-controls
{
    display: flex;
    justify-content: center;
    height: 15%;
    width: 100%;
}

#playback-controls img
{
    height: 100%;
    width: auto;
    border: none;
}

.flip
{
    transform: scaleX(-1);
}

table, th, td
{
    border: 1px solid lightgray;
    border-collapse: collapse;
}

.album-art
{
    width: 100%;
    height: auto;
}

.index
{
    display: none;
}

tr:hover
{
    background: linear-gradient(0deg, #0080ed, #008fff);
    color: #FAFAFA;
}

td
{
    white-space: nowrap;
}
