html, body, #root
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial;
    background-color: #fafafa;
}

#song-list
{
    height: calc(100% - 50px);
    width: 100%;
    overflow: auto;
    outline: 0;
}

.song-row
{
    box-sizing: border-box;
    border-top: 1px solid darkgray;
    display: flex;
    justify-content: space-between;
}

.song-row > div p
{
    margin: 4px;
}

.song-row > div:last-child
{
    text-align: right;
}

.song-row:hover
{
    background: linear-gradient(0deg, #0080ed, #008fff);
    color: #FAFAFA;
}

.song-row > div:last-child:first-child
{
    font-size: 24px;
}

.index
{
    display: none;
}

#currently-playing
{
    display: flex;
    flex-flow: column;

    overflow: auto;
    background-color: #FAFAFA;
    box-sizing: border-box;
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
    width: 600px;
    max-width: 100%;
    height: 100%;
    box-shadow: -5px 0 7px -5px #333, 5px 0 7px -5px #333;
    border-right: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
}

#currently-playing > p
{
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

#album-art
{
    width: 100%;
    height: auto;
}

#playback-controls
{
    flex: 1;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    width: 100%;
    height: auto;
    min-height: 100px;
}

#playback-controls img
{
    display: inline-block;
    max-width: 33%;
    max-height: 100%;
    object-fit: contain;
}

.close-bar
{
    box-sizing: border-box;
    height: 30px;
    margin: 0 10px;
    margin-bottom: 15px;
    background: #FAFAFA;
    box-shadow: 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.close-bar:hover
{
    background: #e6e6e6;
}

.close-bar:active
{
    background: darkgray;
}

.close-bar img
{
    display: block;
    height: 100%;
    width: auto;
    margin: auto auto;
}

.hflip
{
    transform: scaleX(-1);
}

.modal
{
    outline: 0;
    border: 1px solid lightgrey;
    border-radius: 20px;
    box-shadow: 0 4px 4px 2px #b9b9b9;
    background-color: #FAFAFA;
    margin: 10px auto;
    max-width: 700px;
    height: 90%;
    padding: 20px;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}